<h1>Editing pensament</h1>

<%= render "form", pensament: @pensament %>

<br>

<div>
  <%= link_to "Show this pensament", @pensament %> |
  <%= link_to "Back to pensaments", pensaments_path %>
</div>
